@font-face {	
    font-family: '04b_03';
	src: url('ft/04b_03__-webfont.eot');
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

#site {		
    min-height: 100%;
    background: url(img/waa_bg_1.svg) center top no-repeat;
	background-color: rgb(18, 25, 11);
}

/**
 * Header
 */
header {
    padding-top: 150px;
    text-align: center;        		
}
 
/**
 * Content
 */
 #content {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 40px;
    color: rgb(212, 255, 211);
    font-family: '04b_03'; 
    text-align: center;
    font-size: 24pt;
    line-height: 1.5;
}
    
    #content ul li {
        list-style-type: none;
    }

    #content a {		
        color: rgb(212, 255, 211);
        text-decoration: none;
    }

/**
 * Footer
 */
footer {
    background: url(img/bg_fb_soundcloud_bc.svg) center top no-repeat ;
    height: 99px;
    text-align: center;
}

    footer .links {
        padding-top: 12px;
    }

        footer .links img {
            float: left;
        }

        footer .links a {
            display: inline-block;
        }

            footer .links a:hover {
                background-color: rgba(255,255,255,0.2);        
            }

